.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E8E7E7;
}

.container-main {
    flex: 1;
    padding-bottom: 70px;
}

.container-inner {
    width: 600px;
    margin: 0 auto;
}

.header a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.header {
    height: 70px;
    background-color: #3C4780;
    line-height: 70px;
    color: white;
    font-size: 20px;

}

.footer {
    height: 70px;
    background-color: #3C4780;
    line-height: 70px;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-date {
    float: right;
}

html,
body {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-family: sans-serif;
    color: #4A4A4A;
}

body * {
    box-sizing: border-box;
}

.user-block {
    margin: 82px auto 50px;
    width: 600px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    padding: 80px 60px;
    text-align: left;
    position: relative;
}
.user-block_photo {
    position: absolute;
    left: 55px;
    top: -45px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 8px solid white;
    overflow: hidden;
    background-color: #BCBBBB;
}
.user-block_name {
    font-size: 36px;
    margin-top: 20px;
    display: inline-block;
}
.user-block_age {
    display: inline-block;
    width: 74px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #005BFF;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.09px;
    margin-left: 20px;
    position: relative;
    top: -5px;
}
.btn-wrapper {
    text-align: center;
    width: calc(100% + 100px);
    margin-left: -50px;
    position: absolute;
    left: 0;
    bottom: -33.5px;
}
.btn.btn-arrow:hover {
    background: #555BFF;
    opacity: 1;
}
.btn.btn-arrow {
    display: inline-block;
    background: #005BFF;
    border-radius: 5px;
    border: 0;
    width: 230px;
    height: 67px;
    line-height: 65px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.09px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
}
.user-block_id {
    margin-top: 5px;
    font-size: 20px;
}
.user-block_photo img {
    width: 100%;
}
.user-block .Logout .btn:after {
    content: none;
}
.user-block .Logout .btn:hover {
    opacity: .9;
}
.user-block .Logout .btn {
    position: absolute;
    right: 25px;
    top: 30px;
    background: transparent;
    border: 0;
    width: auto;
    display: inline-block;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    outline: 0;
}
.send-post {
    margin: -40px auto 55px;
    width: 600px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    padding: 65px 55px 55px;
    text-align: left;
    position: relative;
    font-size: 16px;
}
.send-post [type=submit] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    display: inline-block;
    background: #005BFF;
    border-radius: 5px;
    border: 0;
    width: 230px;
    height: 67px;
    line-height: 65px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.09px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}
.send-post textarea {
    width: 100%;
    height: 135px;
    padding: 15px;
    font-size: 20px;
    outline: 0;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #B8B4B4;
    margin-top: 5px;
    resize: none;
}

.friends-block-wrap:after {
    content: '';
    display: table;
    clear: both;
}
.friends-block-wrap {
    margin: 82px auto 50px;
    width: 610px;
}
.friends-block .img img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.friends-block .img {
    background-color: #A3A3A3;
    height: 145px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.friends-block .first-name {
    text-align: center;
    margin-top: 5px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:  0 5px;

}
.friends-block .last-name {
    text-align: center;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:  0 5px;
}
.friends-block .item {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.friends-block {
    position: relative;
    float: left;
    width: calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
    height: 197px;
    background: #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: -0.08px;
}

.login-form {
    margin: 82px auto 50px;

    width: 600px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    padding: 80px 60px;
    text-align: center;

}

.login-form_title {
    font-size: 20px;
    margin-bottom: 25px;
}

.login-form_subtitle {
    font-size: 18px;
    margin-bottom: 50px;
}

.login-form .btn {
    background: #3C4780;
    border-radius: 5px;
    border: 0;
    width: 363px;
    height: 67px;
    line-height: 65px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.09px;
    cursor: pointer;
    outline: 0;
}

.btn:hover {
    opacity: 0.9;
}

.btn:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-right: 0;
    border-bottom: 0;
    margin-left: 3px;
    transform: rotate(135deg);
}